*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

canvas {
	position: relative;
	display: block;
	z-index: 1;
}


.fireButton {
	position: absolute;
	display: block;
	text-align: center;
	top: 0px;
	width: 100%;
	top: 500px;
	z-index: 2'
} 
