*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}



#webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
	z-index: -1;
}

/* .buttonContainer{
	position: relative;
} */

#fireButton {
	background-color: #4CAF50;
	position: relative;
	left: 50%;
	right: 50%;

} 
